.icon-wrapper {
    padding: .5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.accordion {
    border: 1px solid rgba(0, 0, 0, .125);
}
.accordion-header {
    margin-bottom: 0;
    font-weight: bold;
}
.accordion-header > .accordion-button {
    background-color: rgba(0, 0, 0, .03);
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    font-size: .9rem;
}