@media print {
    @page {
        size: landscape;
        margin: 0.25in;
    }
    .wine-card-image {
        height: 2.03in !important;
    }
    .wine-card-image-wrapper {
        height: 2.1in !important;
    }
    .pages {
        font-size: 12px !important;
        text-align: right;
        width: 100%;
        margin-bottom: 2rem;
        font-style: "italic";
        color: black !important;
    }
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        font-size: 11px;
    }
    .card-title {
        font-size: 13px;
    }
    h6 {
        font-size: 12px;
        font-weight: bold;
    }
    .list-group-item {
        padding: 0.25rem 0.5rem !important;
    }
    .wine-specs__body {
        margin-top: 0.1rem !important;
    }
    .gradient-chart__background {
        margin-top: 10px;
        height: 6px !important;
    }
    .gradient-chart__triangle-indicator {
        zoom: 80%;
    }
    .wine-print {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        page-break-inside: avoid;
    }
    .wine-print .col-6 {
        width: 50% !important;
        page-break-inside: avoid;
        break-inside: avoid;
    }
    .wine-print .card {
        page-break-inside: avoid;
        break-inside: avoid;
    }
    .wine-card-left,
    .wine-card-right, .col-md-12, .col-sm-12 {
        width: 50% !important;
    }
    .card {
        height: 7.25in;
        margin-top: -1rem !important;
    }
    .card .card-body {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    .card .row  {
        padding-top: 0 !important; 
    }
    .card-body {
        padding: 0 !important;
        height: 100%;
    }

    .card-header {
        padding: .25rem .5rem !important;
    }
    /* .winemaking {
        position: absolute;
        bottom: 0;
        left: 0;
    } */

    .navbar,
    header, .footer {
        display: none !important;
    }
    .winemaking-wrapper {
        position: absolute;
        bottom: 0;
    }
    /* .tasting-notes-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .wine-print {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        page-break-inside: avoid;
    }
    .wine-wrapper {
        margin-top: 2rem !important;
    }
    .wine-print .col-sm-4 {
        width: 50% !important;
        max-width: 50%;
        flex: 0 0 50%;
        box-sizing: border-box;
        page-break-inside: avoid;
        break-inside: avoid;
    }

    .wine-print .card {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    body, html {
        margin: 0;
        padding: 0;
    }
}